.paragrafotituloevolucao {
    font: 1.2rem 'Roboto', sans-serif;
    font-weight: 600;
    text-align: left;
    margin-bottom: 0.5rem;
}

.conteudoEvo {
    display: flex;
    flex-direction: column;
}

.evo {
    text-align: left;
    font: 1rem Arial, Helvetica, sans-serif;
    font-weight: 600;

    display: flex;
    justify-content: row;

    margin-bottom: 0.5rem;
}

.dadosEvolucao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
