/* .conteudostats {
    height: 9rem;
    display: flex;
    flex-direction: column;
}

.paragrafotitulostats {
    font: 1rem Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: left;
}

.paragrafostats {
    margin: 0.25rem 0rem;
    text-align: justify;
    color: #8F8F8F;
} */
