* {
  margin: 0;
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }
}

#root,
html,
body {
  height: 100%;
  width: 100%;
  background-color: #a6d0ed;
}

main {
  height: 100%;
  width: 100%;
  display: flex;

  text-align: center;
  justify-content: center;
  flex-direction: column;

  padding: 5rem 0rem;
  gap: 5rem;
}

h1 {
  color: #fff;
  font: 8rem "Roboto", sans-serif;
  font-weight: 700;
}
