.fotopokemon {
  width: 23rem;
  height: 18rem;

  border-top-right-radius: 2.5rem;
  border-top-left-radius: 2.5rem;

  border-bottom-left-radius: 70% 35%;
  border-bottom-right-radius: 70% 35%;

  box-shadow: 0.1rem 0.125rem 0.25rem 0px rgba(162, 164, 164, 0.5);

  background-image: url("../pictures/general/pokeball.png");
  background-size: 31rem;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.infos {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 0.1rem;
  padding: 1.5rem;

  color: #ffffff;
  text-align: left;
  font: 1.25rem "Roboto", sans-serif;
  font-weight: 600;
}

.numeroPokedex {
  opacity: 0.6;
}

.spritePokemon {
  width: 65%;
  height: auto;
  position: relative;
  top: -75px;
}
