.conteudoStats {
    height: 9rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.paragrafoTituloStats, .paragrafoTituloFraqueza {
    text-align: left;
    font: 1.2rem 'Roboto', sans-serif;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.fraquezas {
    height: 100px;
    display: flex;

    gap: .625rem;

    width: 100%;
    /* //flex-direction: row; */

    /* overflow: auto; */
}