/* button {
    width: 5rem;
    height: 1.5rem;

    border-radius: 0.5rem;
    border: none;

    color: #A2A4A4;
    background-color: inherit;
    box-shadow: 0rem 0.125rem 0.25rem 0rem rgba(162, 164, 164, 0.5);

    font: 1rem 'Roboto', sans-serif;
    font-weight: 500;
} */