.evo {
    text-align: left;
    font: 1rem 'Roboto', sans-serif;
    font-weight: 600;

    display: flex;
    justify-content: row;
    margin-top: 1rem;
}

.dadosEvolucao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}